* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(100, 100, 100);
  }
  .backgroundText {
    color: white;
  }

}
#title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

#allCardsBody, #detailedCardBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
}
form * {
  width: 50vw;
  margin: 2px;
}

form > button {
  margin: 20px;
  height: 50px;
}

#searchBar > input {
  height: 30px;
}

.deleteButton {
  margin: 15px;
  width: 80%;
  background-color: rgb(200, 0, 0);
  border-style: solid;
}
.deleteButton:hover {
  background-color: red;
}
  
h3 {
  margin: 10px;
}

img {
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px 0px black; */
}

ul {
  list-style-type: none;
}

section {
  text-align: center;
  background-color: burlywood;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
}

/* Individual Card */

.individualCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 250px;
  cursor: pointer;
  transition: all .25s;
}

.individualCard > img {
  width: 80%;
  margin: 20px;
}

.individualCard:hover {
  background-color: rgb(255, 213, 158);
  width: 255px;
}

/* Selected Card */

#selectedCard {
  align-items: center;
  width: 80vw;
}

#selectedCard > img {
  width: 80%;
  margin: 20px;
}

#selectedCard > button {
  margin: 10px 0px;
  width: 60%;
  height: 50px;
  cursor: pointer;
}